#header {
    position: absolute; 
    width: 100%; 
    height: 40%;
    left: 0px;
    bottom: 10%;
    z-index: 2;

    h1 {
        position: absolute;
        left: 50px;
        top: 200px;
        transform: translateY(50px);
        opacity: 0;
        transition: 1s 0.5s;
        
        >a {
            opacity: 0.8;
            font:200 80px/1 'Montserrat', sans-serif;
            color:#af7f6c;
            letter-spacing: -2px;
            text-align: left;
            
            span {
                display:block;
                font:100 46px/1 'Montserrat', sans-serif;
                color:#eee;
                letter-spacing: 6px;
            }
        }
    }

    #gnb {
        position: absolute;
        top: 210px;
        right: 50px;            

        >li {
            float: left;   
            transform: translateY(50px);
            opacity: 0;    
            transition:0.5s;       
            position: relative;
            @for $i from 1 through 6 {
                &:nth-of-type(#{$i}) {
                    transition-delay: 0.2s * $i;
                }
            }

            >a {
                display:inline-block;
                padding-right: 80px;
                height: 50px;
                font:200  14px/50px 'Montserrat', sans-serif;          
                color: #fff;
                letter-spacing: 2px;
                opacity: 0.7;
                &::before {
                    content:"";display: block;
                    width:3px; height:1px;
                    background:#eee;
                    opacity:0;
                    position:absolute; top:-10%; left:0%;
                    transform:rotateY(0deg);
                    transition:0.5s;
                    box-shadow: 0px 0px 0px #eee;
                    
                }         
            }

            ul {
                transform: translateY(500px);
                position: absolute;


                li {
                    transform: translateX(50px);
                    opacity: 0;
                    transition: 0.5s;
    
                    @for $i from 1 through 3 {
                        &:nth-of-type(#{$i}) {
                            transition-delay: 0.1s *$i;
                        }
                    }
                    a {
                        display: block;
                        width: 120px; 
                        height: 30px;
                        font:300 12px/30px 'Montserrat', sans-serif;
                        color: #666;
                        transition:0.5s;
                        padding-left: 20px;
                        position: relative;
                        &::before {
                            content: "";display: block;
                            width:6px; height:1px;
                            position: absolute;left:3px;top:50%;
                            background:#eeeeee50;
                            transform: scaleX(0) translateY(-50%);
                            transition: 0.5s;
                            transform-origin: left;
                        }  
                    }       
                    &:hover {
                        a {
                            color:#eee;
                            &::before{
                                background:#eee;
                                transform: scaleX(1) translateY(-50%);
                            }
                        }
                    }         
                }  
               
            
            }
            &.on {
                >a::before{
                    opacity:1;
                    width:10px;
                    transform:rotateY(360deg);
                    box-shadow: 0px 0px 5px #eee;
                }
                ul {
                    transform: translateY(0px);

                    li {
                        opacity: 1;
                        transform: translateX(0px);
                    }                    
                }
            }
        }
    }

    &.on {
        h1, #gnb>li {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}